﻿<!-- MENU LATERAL -->
<nav class="side-nav">
    <div class="side-wrapper">
        <div class="nav-wrapper">
            <ul class="nav flex-column">
                <li class="nav-header pt-4">
                    <span>TOOLS</span>
                </li>

                <li class="nav-item">
                    <a href="index.aspx" class="nav-link">
                        <i class="icon pe pe-7s-display1"></i>
                        <span class="title">Histórico OT</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="ReporteUsuarios.aspx" class="nav-link">
                        <i class="icon pe pe-7s-users"></i>
                        <span class="title">Usuarios</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="CrearOT.aspx" class="nav-link">
                        <i class="icon pe pe-7s-news-paper"></i>
                        <span class="title">Crear Ordenes de Trabajo</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="ReporteMaquinas.aspx" class="nav-link">
                        <i class="icon pe pe-7s-monitor"></i>
                        <span class="title">Maquinas</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="ReporteRepuestos.aspx" class="nav-link">
                        <i class="icon pe pe-7s-tools"></i>
                        <span class="title">Repuestos</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- FIN MENU LATERAL -->